$primary: #00478F;
$secondary: #FF5D00;


.title,
.description {
    text-align: center;
}

.description {
    margin: 1em;
    line-height: 1.5;
    font-size: 1.5rem;
    color: black;
}

.heading {
    position: absolute;
    top: 15vw;
    left: 35vw;
    background: -webkit-linear-gradient($primary, #40AFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
    margin: 0;
}
.heading2 {
    color: $primary;
    font-size: 5vw;
    text-align: center;
    margin: 8px;
}
.animatedButton {
    text-transform: none !important;
    font-size: 16px !important;
    // font-family:  Averta, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.animatedButton:hover {
    background-color: $secondary !important;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 600px) {
    .heading {
        position: absolute;
        top: 50vw;
        left: 35vw;
        font-size: 10vw;
        color: rgba(255, 93, 0, 0.7);
    }
}