$primary: #00478F;
$secondary: #FF5D00;
.title,
.heading,
.description {
    text-align: center;
}

.description {
    // margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.heading {
    // margin: 4rem 0;
    font-size: 4vw;
    color: $primary;
}
.image{
    width: 50%;
}
.logo{
    filter: grayscale(100%);
}
.logo:hover{
    filter: grayscale(0);
}
.logoHeading{
    font-size: 1.75vw;
    text-align: left;
    color: $primary;
}
@media (max-width: 600px) {
    .heading {
        position: absolute;
        top: 30vw;
        left: 25vw;
        font-size: 8vw;
        color: rgba(255, 93, 0, 0.7);
    }
    .image {
        width: 100%;
    }
}